.user {
	padding: 5px 0;
	margin-bottom: 10px;
}

.user a {
 font-size: 14px;
 line-height: 20px;
	color: #0F5490;
	transition: all 0.6s ease;
}

.user a:hover, .user a:focus  {
	color: #44A5F8;
	padding-left: 4px;
	font-weight: 700;
}
