.about {
	display: flex;
	align-items: center;
}

.about_image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.image0001 {
	width: 120px;
	height: 120px;
	margin-right: 10px;
}

.about_title {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 20px;
}

.about_text {
	font-size: 14px;
	color: #7B7777;
	font-style: italic;
}