.dialogs {
	display: flex;
}

.dialogsItems {
	padding: 10px;	
	width: 200px;
	border-right: 1px dashed #2074AF;
}

.messages {
	min-width: 600px;
	padding: 10px;	

}

.messages_wrapper {
		border-right: 1px dashed #2074AF;
}

.newPost_wrapper {
	padding: 10px;
	min-width: 600px;
}

.newPost textarea {
	width: 100%;
	padding: 10px;
	outline: none;
	min-height: 80px;
	border: 1px solid #2074AF;
	border-radius: 5px;
	background-color: #498EBF;
	color: #FFFFFF;
	margin-bottom: 10px;
	transition: all 0.5s ease;
}

.myPosts_button button {
	padding: 10px 15px;
	background-color: 	#498EBF;
	border: 1px solid transparent;
	border-radius: 5px;
	text-transform: uppercase;
	color: #fff;
	cursor: pointer;
	transition: all 0.5s ease;
	font-weight: 700;
	font-style: italic;
	
}

.myPosts_button button:hover {
	color: #498EBF;
	padding: 10px 20px 10px 10px;
	border: 1px solid #498EBF;
	background-color: 	#fff;
}