.post {
	display: flex;
	align-items: center;
	margin: 10px 0;
	box-shadow: 2px 2px 5px #B9B3B3;
	transition: all 0.6s ease;
}

.post:hover {
	box-shadow: 2px 6px 5px#B9B3B3;
}

.post_icon {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin: 10px 0;
}

.post_text {
	width: 100%;
}

.like {
	text-align: right;
}

.post_button {
	padding: 1px 15px;
	font-weight: 700;
	color: #39D110;
	cursor: pointer;
	border: 1px solid #39D110;
	border-radius: 4px;
	transition: all 0.6s ease;
	background-color: #fff;
}

.post_button:hover {
	color: #fff;
	background-color: #39D110;
}

.like_count {
	margin-right: 10px;
	font-size: 10px;
	color: #097711;
	font-style: italic;
}