.friends_wrapper {
	padding-top: 50px;
}

.friends__title {
 text-transform: uppercase;
 color: #fff;
 font-weight: 300;
 font-size: 30px;
 margin-bottom: 15px;
}

.friends_list {
	display: flex;
	align-items: center;
}

