.img {
  max-height: 200px;
  min-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.profile_block {
	display: flex;
}

.profile_image {
	max-width: 150px;
	margin-right: 20px;
}

.profile_image img {
	border-radius: 3px;
}

.profile_title {
	margin: 0 0 10px 0;
	color: #24550E;
}

.profile_text {
	font-size: 14px;
	color: #24550E;
}