* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.app-content-wrapper {
  display: flex;
  margin-top: 20px;
}

ul, li, a {
  text-decoration: none;
  list-style-type: none;
}

.content {
  background-color: #22BE1E;
  width: 100%;
  min-height: 400px;
  padding: 10px
}