.dialogs {
	display: flex;
}

.title {
	font-weight: bold;
	font-size: 20px;
	font-style: italic;
	margin-bottom: 20px;
}

.dialogs_items {
	padding: 0 10px;
	min-width: 30%;
	border-right: 1px solid white;
}

.messages {
	padding: 0 10px;
	min-width: 60%;
	border-right: 1px solid white;
}

textarea {
	margin-top: 20px;
	height: 50px;
	border-radius: 4px;
	border: none;
	box-shadow: 1px 2px 3px;
	margin-bottom: 10px;
}

button {
	display: block;
	margin-left: auto;
	padding: 10px 20px;
	border-radius: 4px;
	background-color: #E05F89;
	border: 1px solid #E05F89;
	transition: all 0.5s ease;
	cursor: pointer;
	outline: none;
}

button:hover {
	background-color: #E51F5F;
}




