.list_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #22BE1E;
  padding: 10px;
  min-width: 200px;
  margin-right: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list a:hover {
  text-decoration: none;
  color: Gold;
}

.item {
  color: white;
}

.active {
	color: gold;
}

.list a:last-child {
  margin-top: 40px;
}

.list a.active {
  color: gold;
}